/* @import url('https://fonts.googleeapis.com/css?family=Gamja+Flower'); */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");
body {
	/* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
	font-family: "Source Code Pro", monospace;
	letter-spacing: -0.04cm;
	position: relative;
	background-color: #ebedeb;
} 
.navbar.navbar-expand-md.navbar-light.bg-light.menu-list.sticky-top{
	display: none;
	border-bottom:3px solid #FFA747;;
	padding-left: 50%;
}
.navbar {
	background-color: black !important;
}

nav.menu-list {
	background-color: white!important;
}

#navbarResponsive {
	margin-left: 100px;
}

div#type1 {
	margin-top: 3%;
}

.border-table {
	background-color: white;
	table-layout: fixed;
	width: 18%; 
	margin-top: 2%;
	margin-left: 2%;
	border-radius: 25px;
	position: fixed;
}
.searchbarup{
	float: right;
}
.searchbar{
	padding-top: 20px;
	padding-left: 30px;
	position: fixed;
}


span{
	font-size: 2vw;
}

td {
	margin-right: 10%;
	padding: 3%;
	font-size: 1.5vw;
	border-radius: 15px;
}

tr:hover { 
	background-color: #b1b1b3;
}
span:hover { 
	background-color: #b1b1b3;
	border-radius: 15px;
}
a:link {
	text-decoration: none;
}
a{
	font-weight: bold;
	color: black;
}
a:hover {
	color: #EA8025;
	background-color: transparent;
	text-decoration: none;
  }
.card {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: white;
}

div.card-body {
	min-height: 150px;
}
div.card-body > input {
	background-color: #FFA747;
	border-radius: 10px;
}

div.card-body > input:hover {
	background-color: #FF6700;
}

div.col-md-4 div.card {
	border-radius: 25px;
}

div.footer-style {
	background-color: #176000; 
	color: black;
}

h4 {
	border-radius: 20px;
}

h4 a {
	color: #3C2211;
}

div.col-12 > h6 {
	color: orange;
}

div.col-12 > a {
	color: red;
}

div.col-12 > a:hover {
	color: yellow;
}


.buybutton{
	background-color: #FFA747;
	border-radius: 10px;
	border: none;
	font-size:1.2vw;
	padding: 0.9vw;
	color: white;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	width: 80%;
	font-weight: 900;

}
.price{
	color: #EA8025;
	font-weight: 700;
}
.border-menu{
	border-left:3px solid #FFA747;
}
/*========= Non-Moblie First Method =========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}
/* Medium Devices, Desktop */
@media only screen and (max-width: 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
	.col-sm-3{
		display: block;
	}
	.navbar.navbar-expand-md.navbar-light.bg-light.menu-list.sticky-top{
		padding-top: 75px;
		display: block;
	}
	.searchbar{
		display: none;
	}
	div.border-menu{
		border:0px  transparent;
	}
}
@media only screen and (max-width: 759px) {
	input.buybutton{
		font-size: 2vw;
	}
}
/* Extra Small Devices, Phone */
@media only screen and (max-width: 580px) {
	.col-sm-6{
		width: 50%;
	}

	h2 {
		font-size: 20px;
	}

}

/* Custom, iphone retina */
@media only screen and (max-width: 490px) {
	span{
		font-size: 1.8vw;
	}
} 
